@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "NoahBold";
  src: local("NoahBold"),
  url("./fonst/Noah/Noah-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NoahBoldItalic";
  src: local("NoahBoldItalic"),
  url("./fonst/Noah/Noah-BoldItalic.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NoahRegular";
  src: local("NoahRegular"),
  url("./fonst/Noah/Noah-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NoahRegularItalic";
  src: local("NoahRegularItalic"),
  url("./fonst/Noah/Noah-RegularItalic.ttf") format("truetype");
  font-weight: 500;
}

/*style slick-slider navigation dots on login page*/
.slick-dots{
  position: absolute;
  bottom: 57px;
  left: 45px;
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li button:before{
  font-size: 9px;
  color: rgba(255, 255, 255, 0.54);
  opacity: 1;
}
.slick-dots li.slick-active button:before{
  font-size: 10px;
  color: #FF6767;
  opacity: 1;
}
